.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.item{
    margin-top: 10px;
    margin-bottom :10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    margin-left: 20px;
    margin-right: 10px;
}