.searchbox{ 
    display: block;
    margin-top: 150px;
    background-color: burlywood;
    padding: 20px;
}
.Google_2015_logo {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
.Google_Search_bar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 10px;

}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color:beige
}
.SearchButton, .LuckyButton {
  
    padding: 3px;
    font-size: 12px;
    border: 1px solid gray;
    background-color: lightgreen;
    border-radius: 10px;
    cursor: pointer;
}
.language {
    text-align: center;
    padding: 30px;
    background-color: lightgray;
}


