.card{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 400px;
    height: 200px;
    border: 1px dotted blue;
    border-radius: 10px;
    border-width: 2px solid black;
    padding : 10px;
    background-color: rgb(164, 216, 228);
}
h3{
    margin-bottom: 10px;
    text-align: center;
    padding: 0;
}
h4{
    margin-top: 10;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
}
p {
   font-family: 'Times New Roman', Times, serif;
   font-size: medium;
   margin: 0px;
   text-align: center;
}
li
{
    margin: 5px;
}
.content{
    border : 1px solid rgb(142, 143, 228);
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 10px;
    font-family: 'Verdana', sans-serif;
    font-size: small;
}