.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.top{
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 50px;
    background: url('./jaipur.jpg');
    background-size: cover;
}
#heading{
    width: fit-content;
    font-size: 50px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(143, 172, 193);
}
#subheading{
    width: fit-content;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(89, 165, 219);
}
.upperMiddle{
    text-align: center;
    background-color: beige;
}
.middle{
    display: flex;
    flex-direction: row;
   justify-content: center;
    gap: 5px;
}
.bottom{
    margin: auto;
    padding-top: 40px;
}
.card{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 20px;
    border-bottom-width: 10 px;
    border-bottom-color: blue ;
}
.uList{
    text-align: center;
    font-size: 18px;
    color: white;
    list-style-type: square;
    justify-content: center;
}
.guideImage{
    width: 200px;
    height: auto;
    border-radius: 10px;
}
.images
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.templates
{
    text-align: center;
    padding: 30px;
    
}