body{
    background-image: url('./testImage.jpg');
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-size: cover;
    text-align: center;
 }
 h1{
    margin-top: 10px;
    margin-bottom: 10px;
 }
 h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom:20px ;
 }
 button{
    border : none;
    padding-top: 10px;
    padding-bottom: 10px;
    color :white;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;   
 }
 #increment-btn{
    background-color: darkred;
    width: 150px;
    margin-right: 10px;
 }
 #save-btn{
    background-color: darkblue;
    width: 150px;
    margin-left: 10px;
 }
 #save-btn:hover, #increment-btn:hover{
    cursor: pointer;
    opacity: 0.8;
 }