body{
   text-align: center;
}
h1{
    color: rgb(143, 157, 182);
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
.Buttons{
    padding: 6px 12px;
    background: white;
    border: none;
    font-family: inherit;
}
.Exploration{
    text-decoration: underline;
}

#logo{
    margin: 20px;
    background : transparent;
    backface-visibility: visible;
    width: 150px;
}
.hero
{
    margin-bottom: 20px;
    background-image: url("../../Pictures/Space\ Science\ Tech\ GIF\ by\ European\ Space\ Agency\ -\ ESA.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.contaner{
   color: white;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}