body {
    margin: 0px;
    padding: 10px;
    font-family :Arial, Helvetica, sans-serif;
    min-width: 250px;
}
/* #5f9341*/
#name-input{
   width: 100%;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 2px solid #5f9341;   

}
.t-button{
    background-color: #5f9341;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-weight: bolder;
}
ul{
   list-style: none;
   padding-left: 0px;
   margin-top: 20px;
}
li{
  margin-top: 5px;
}
li a{
    color: #5f9341; 
}